/*
 * Estilos de tu proyecto
 */


.titleBoxOverview{

}

.noShow{
	display: none;
}

#enrollement{
	outline: 2px solid black; 
}

#nps{
	outline: 2px solid black; 
}
/* estilos a traves de js */ 

.studentBox{
	outline: 2px solid black; 
}
.photoBox{
	outline: 2px solid red; 
}
.photoURL{
	outline: 2px solid green;
	height: 162px;
	width: 148px;
}
.paraphName{
	outline: 2px solid black; 
}
.techBox{
	outline: 2px solid black; 
}
.titleTechBox {
	outline: 2px solid black; 
}
.pointTech{
	outline: 2px solid black; 
}
.lifeBox{
	outline: 2px solid black; 
}
.titleLifeBox{
	outline: 2px solid black; 
}
.pointLife{
	outline: 2px solid black; 
}
.show{
	display: block;
}